@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@theme {
    /* Main colors */
  --color-primary-bg: #F1EFFF;

  /* Navigation colors */
  --color-nav-text: #f5ecff;
  --color-nav-active: #FBCFA1;
  --color-nav-hover: #FFE1B8;
  --color-nav-bg: #4A378F;


  /* Typography */
  --font-playfair: 'Playfair Display', sans-serif;
  --font-inter: 'Inter', sans-serif;
}