@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    /* Main colors */
  --color-primary-bg: #F1EFFF;

  /* Navigation colors */
  --color-nav-text: oklch(0.99 0.01 290);
  --color-nav-bg: #4A378F;


  /* Typography */
  --font-playfair: 'Playfair Display', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-lora: 'Lora', sans-serif;

  /* Hero Badge colors */
  --color-hero-badge-bg: #F3E8FF;
  --color-hero-badge-text: #59168B;
  
}

body {
  background-color: var( --color-primary-bg);
}

.flex-center {
  @apply flex items-center justify-center;
}

.btn-primary {
  @apply px-2 py-2 rounded-md bg-violet-600 text-white font-medium hover:bg-violet-700 transition-colors text-center;
}
